<!--
  ~ Project: moneyxchange
  ~ File: footer-card.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<h3>Titulo</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
