<!--
  ~ Project: moneyxchange
  ~ File: footer.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<footer class="container-fluid bg-light pb-5 pt-5">
  <div class="container">
    <div class="row">
      <app-footer-card class="col"></app-footer-card>
      <app-footer-card class="col"></app-footer-card>
      <app-footer-card class="col"></app-footer-card>
      <app-footer-socials class="col"></app-footer-socials>
    </div>
  </div>
</footer>
