<!--
  ~ Project: moneyxchange
  ~ File: footer-socials.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<h3>Socials</h3>
<a class="d-inline-block mb-1" href="#"><img alt="social" src="//placehold.it/50/50"></a>
<a class="d-inline-block mb-1 ml-1" href="#"><img alt="social" src="//placehold.it/50/50"></a>
<a class="d-inline-block mb-1 ml-lg-1" href="#"><img alt="social" src="//placehold.it/50/50"></a>
