<!--
  ~ Project: moneyxchange
  ~ File: home-calculator.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 11:48
  -->

<section class="bg-white">
  <div class="container d-flex flex-column pt-5 pb-5">
    <form (ngSubmit)="convert(original)" class="mt-5">
      <div class="row mb-4">
        <div class="col-12 col-md">
          <input [(ngModel)]="original" class="form-control mb-3 mb-lg-0 text-center" name="original" placeholder="EU"
                 type="text">
        </div>
        <div class="col-12 col-md">
          <span class="form-control mb-3 mb-lg-0 text-center">{{converted}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-auto m-auto">
          <button class="btn btn-primary" type="submit">Calculate</button>
        </div>
      </div>
    </form>
  </div>
</section>
