<!--
  ~ Project: moneyxchange
  ~ File: app.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<router-outlet></router-outlet>
<app-footer></app-footer>
