<!--
  ~ Project: moneyxchange
  ~ File: home-header.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<section class="container-fluid d-flex flex-column pt-5 pb-5">
  <img alt="" class="rounded-circle ml-auto mr-auto mb-5" id="header-logo" src="https://placeimg.com/150/150/people">
  <div class="d-flex flex-column flex-lg-row m-auto" id="header-options">
    <div class="btn btn-primary m-3">Option 1</div>
    <div class="btn btn-primary m-3">Option 2</div>
    <div class="btn btn-primary m-3">Option 3</div>
    <div class="btn btn-primary m-3">Option 4</div>
  </div>
</section>
