<!--
  ~ Project: moneyxchange
  ~ File: home-view.component.html
  ~ Author: Jorge Hirahoka
  ~ Copyright (c)  2019.
  ~
  ~ Modified: 13/09/19 09:26
  -->

<main>
  <app-home-header></app-home-header>
  <app-home-calculator></app-home-calculator>
  <app-home-spacer></app-home-spacer>
</main>
